
        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(-10px); }
            to { opacity: 1; transform: translateY(0); }
        }
        .animate-fadeIn {
            animation: fadeIn 0.3s ease-in-out;
        }
        .hero-bg {
            background: linear-gradient(to bottom, #fb923c, #fdba74, #fde047);
        }
        @supports (-webkit-touch-callout: none) {
  input[type="date"] {
    min-height: 3rem; /* same as h-12 */
    line-height: normal;
  }
}